@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css")
</head>
<body>
    @Html.Partial("_LoginPartial")
    <div id="applicationHost">
        @CommonResources.Loading
    </div>

    @Scripts.Render("~/scripts/vendor")
    <script type="text/javascript" src="~/App/durandal/amd/require.js"
            data-main="/App/main"></script>

</body>
</html>