@if (Request.IsAuthenticated)
{
    <text>
        Привіт, @ViewBag.FirstName <br>
        @Html.ActionLink("Мій профіль", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Вийти</a>
        }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Зареєструватися", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Увійти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
